@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

div:hover {
    color: red;
}
 div > p {
     display: none;
     color: blue;
     background-color: aquamarine;
     width: 150px;
 }
 div:hover > p {
     display: block;
 } 
 #p1:hover {
     color: yellow;
 }
 h1 {
     text-align: center;
 }
 #principal {
     font-weight: bold;
 }