@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #A8C0CE,#AAB0B5);
}

div {
    display: inline-block;
    background-color: rgb(60, 70, 66);
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}

h1 {
    text-align: center;
}

#d1:hover {
    background-color: yellow;
}
#d2:hover {
    background-color: red;
}
#d3:hover {
    background-color: green;
}