body {
    height: 100vh;
    background: url("../image/wallpaper002.jpg") center center/cover no-repeat;
    background-color: rgb(0, 0, 0);
}
main {
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px dashed red;
    border-radius: 15px;