#container {
    background: url("../image/target001.png");
    background-size: 100% 100%;
    background-color: rgb(201, 174, 174);
    position: relative;
    height: 94vh;
    padding: 10px;
    
}

#content {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    height: 200px;
    width: 400px;
    background-image: url("../image/target001.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(255, 255, 0);
}