@charset "UTF-8";

body {
    background-color: rgb(143, 228, 199);
    text-align: justify;
}

main {
    background-color: white;
    max-width: 700px;
    max-height: 700px;
    margin: auto;
    border-radius: 5px;
}

main > h1 {
    text-align: center;
} 

main > p {
    margin: 5px 5px;
    text-indent: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

#Warning {
    text-align: center;
}

.image {
    display: block;
    margin: auto;
}