@charset "UTf-8";

body {
    background-color: rgb(168, 235, 235);
}

h1#primeiro { /* Tipo box-level */
    background-color: rgb(164, 177, 172);
    height: 300px;
    width: 300px;
    text-align: center;
    
    border: 10px solid darkslategray;

    padding: 10px;

    margin: 20px auto 40px auto;

    outline: 5px dashed green;
}

a { /* Tipo inline-level */
    text-decoration: none;
    color: red;

    border: 5px solid rgba(32, 226, 6, 0.575);
    
    padding:10px
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a:active {
    color: rgb(0, 0, 0);
}

