@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: justify;
}
dl {
    text-align: justify;
    margin: auto;
}
pre {
    text-align: justify;
    margin: auto;
}
h1 {
    text-align: center;
    color: #0B246E;
    text-shadow: 1px 1px 2px #08329e9f;
}
h2 {
    text-align: center;
    color: #0038C0;
}
main {
    background-color:white;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #010a20;
}
body {
    background-image: linear-gradient(to right, #0B246E, #0038C0);
}
